# ==========================================
# REGLAS DE REVISIÓN CLOUDCOFFEE
# ==========================================

/backend/ @CloudCoffee/integracion-ii-backend-app-web
/web/     @CloudCoffee/integracion-ii-backend-app-web
/mobile/  @CloudCoffee/integracion-iv-app-movil
